@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Inter:wght@400;600;700&family=Saira+Condensed:wght@500&display=swap');

.App {
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 55px;
  left: 0px;
  top: 0px;
  padding-top: 5px;
  background: #F55A5A;
}

.nav-text {
  top: -10px;
  left: 5px;
  font-weight: 600;
}

.travel-card {
  display: flex;
  background:gray;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 704px;
  border-radius: 5px;

}


.card-image {
  border-radius: 5px;
  width: 125px;
  height: 168px;
}